Repository DoodlePlay/Frontend, pull requests merged in 2024-09, with the labels that each got.

#6 [FEAT] 공통 컴포넌트 이름표, 말 풍선 개발 #3
  src/app/page.tsx
  src/components/NamePlate.tsx
  src/components/SpeechBubble.tsx
  src/styles/globals.css
  tailwind.config.js
Labels: ✨ Feature, 🎨 Html&css

#7 [FEAT] 공통 컴포넌트 헤더, 아바타, 세팅박스 개발 #4
  .gitignore
  .vscode/settings.json
  public/images/Logo.svg
  public/images/avatars/man-1.svg
  public/images/avatars/man-10.svg
  public/images/avatars/man-11.svg
  public/images/avatars/man-2.svg
  public/images/avatars/man-3.svg
  public/images/avatars/man-4.svg
  public/images/avatars/man-5.svg
  public/images/avatars/man-6.svg
  public/images/avatars/man-7.svg
  public/images/avatars/man-8.svg
  public/images/avatars/man-9.svg
  public/images/avatars/woman-1.svg
  public/images/avatars/woman-2.svg
  public/images/avatars/woman-3.svg
  public/images/avatars/woman-4.svg
  public/images/avatars/woman-5.svg
  public/images/avatars/woman-6.svg
  public/images/avatars/woman-7.svg
  public/images/avatars/woman-8.svg
  public/images/avatars/woman-9.svg
  public/images/settings/cam-disabled.svg
  public/images/settings/cam.svg
  public/images/settings/gear.svg
  public/images/settings/speaker-none.svg
  public/images/settings/speaker.svg
  src/app/layout.tsx
  src/app/page.tsx
  src/components/Avatar/Avatar.test.tsx
  src/components/Avatar/Avatar.tsx
  src/components/Button.tsx
  src/components/Header/Header.test.tsx
  src/components/Header/Header.tsx
  src/components/Settings/Settings.test.tsx
  src/components/Settings/Settings.tsx
  src/components/Settings/ToggleButton.test.tsx
  src/components/Settings/ToggleButton.tsx
  src/styles/globals.css
  tailwind.config.js
Labels: ✨ Feature, 🎨 Html&css, ✅ Test

#12 [FIX] 헤더, 아바타 테스트 코드 수정 #11
  src/components/Avatar/Avatar.test.tsx
  src/components/Header/Header.test.tsx
Labels: 🐞 BugFix, ✅ Test

#10 [FEAT] 공통 컴포넌트 버튼, 모달 개발 #5
  .vscode/settings.json
  package.json
  public/images/closeModal.svg
  src/app/not-found.tsx
  src/components/Button.test.tsx
  src/components/Button.tsx
  src/components/Button/Button.test.tsx
  src/components/Button/Button.tsx
  src/components/Modal/Modal.test.tsx
  src/components/Modal/Modal.tsx
  tailwind.config.js
Labels: ✨ Feature, 🎨 Html&css, ✅ Test

#14 [FEAT] 프로필 페이지 뷰 개발 #9
  .prettierrc
  .vscode/settings.json
  package-lock.json
  package.json
  public/images/EditButton.svg
  public/images/People.svg
  public/images/avatars/man1.svg
  public/images/avatars/man10.svg
  public/images/avatars/man11.svg
  public/images/avatars/man2.svg
  public/images/avatars/man3.svg
  public/images/avatars/man4.svg
  public/images/avatars/man5.svg
  public/images/avatars/man6.svg
  public/images/avatars/man7.svg
  public/images/avatars/man8.svg
  public/images/avatars/man9.svg
  public/images/avatars/woman1.svg
  public/images/avatars/woman2.svg
  public/images/avatars/woman3.svg
  public/images/avatars/woman4.svg
  public/images/avatars/woman5.svg
  public/images/avatars/woman6.svg
  public/images/avatars/woman7.svg
  public/images/avatars/woman8.svg
  public/images/avatars/woman9.svg
  public/images/settings/camDisabled.svg
  public/images/settings/speakerDisabled.svg
  public/images/webCamProfile.svg
  public/sounds/sampleButtonClick.mp3
  src/app/page.tsx
  src/components/Avatar/Avatar.test.tsx
  src/components/Avatar/Avatar.tsx
  src/components/Header/Header.tsx
  src/components/Settings/Settings.tsx
  src/components/SpeechBubble.tsx
  src/features/profile/components/Camera.tsx
  src/features/profile/components/Nickname.tsx
  src/features/profile/components/Profile.tsx
  src/features/profile/store/userInfoStore.ts
  src/utils/helpers/helpers.ts
  src/utils/helpers/playSound.ts
  tailwind.config.js
Labels: ✨ Feature, 🎨 Html&css

#16 [FIX] 이미지 파일명 오류 수정 #15
  public/images/editButton.svg
  public/images/logo.svg
  public/images/people.svg
  src/features/profile/components/Nickname.tsx
Labels: 🐞 BugFix
